/* --- All media queries applied, but the last one is more specific, because of "cascade". Using breakpoints: */

/* -- BAD -  based on popular devices */

/* -- GOOD - based on screen width ranges */

/* -- PERFECT - when design breaks down */

/* --- rem and em do NOT depend on html font-size in media-queries. Instead, 1rem = 1em = 16px */

/* -- 1344/16 = 84em (Small desktops)  */
@media (width <= 84em) {
  .hero {
    max-width: 120rem;
  }

  .title-h1 {
    font-size: 4.4rem;
  }

  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }

  .testimonials {
    grid-template-columns: 1fr;
  }

  .testimonial {
    padding: 2.4rem;
    border: 4px solid #fae5d3;
    border-radius: 9px;
    box-shadow: 0 0 1.2rem rgba(0, 0, 0, 0.06);
  }
}

/* -- 1200/16 = 75em (Landscape tablets) */
@media (width <= 75em) {
  /* -- 9/16 = 56.25% */
  html {
    font-size: 56.25%;
  }

  .title-h2 {
    font-size: 3.6rem;
  }

  .title-h3 {
    font-size: 2.4rem;
  }

  .grid {
    gap: 6.4rem 4.8rem;
  }

  .header {
    padding: 0 3.2rem;
  }

  .main-nav-list {
    gap: 3.2rem;
  }

  .hero {
    gap: 4.8rem;
  }

  .testimonials-wrapper {
    padding: 9.6rem 3.2rem;
  }

  .pricing-plan {
    width: 80%;
  }
}

/* -- 992/16 = 62em (Tablets) */

@media (width <= 62em) {
  .pricing-plan {
    width: 90%;
  }
}

/* -- 944/16 = 59em (Tablets) */

@media (width <= 59em) {
  html {
    font-size: 50%;
  }

  .hero {
    grid-template-columns: 1fr;
    gap: 6.4rem;
    padding: 0 8rem;
  }

  .hero-text-box,
  .hero-img-box {
    text-align: center;
  }

  .hero-img {
    width: 60%;
  }

  .delivered-meals {
    justify-content: center;
    margin-top: 3.2rem;
  }

  .featured-logo {
    height: 2.4rem;
  }

  .step-number {
    font-size: 7.4rem;
  }

  .meal-content {
    padding: 2.4rem 3.2rem 3.2rem;
  }

  .list {
    gap: 1.2rem;
  }

  .section-testimonials {
    grid-template-columns: 1fr;
  }

  .testimonials-wrapper {
    padding: 6.4rem 3.2rem;
  }

  .testimonials {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 3.2rem;
    column-gap: 4.8rem;
  }

  .gallery {
    grid-template-columns: repeat(6, 1fr);
  }

  .pricing-plan {
    width: 100%;
  }

  .pricing-plan--complete::after {
    right: -9%;
  }

  .cta {
    /* 3/5 = 60% + 40% */
    grid-template-columns: 3fr 2fr;
  }

  .cta-form {
    grid-template-columns: 1fr;
  }

  .btn--form {
    margin-top: 2.4rem;
  }
}
