/* --- All media queries applied, but the last one is more specific, because of "cascade". Using breakpoints: */

/* -- BAD -  based on popular devices */

/* -- GOOD - based on screen width ranges */

/* -- PERFECT - when design breaks down */

/* --- rem and em do NOT depend on html font-size in media-queries. Instead, 1rem = 1em = 16px */

/* -- 1344/16 = 84em (Small desktops)  */
@media (width <= 84em) {
  .hero {
    max-width: 120rem;
  }

  .title-h1 {
    font-size: 4.4rem;
  }

  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}
