/* * universal selector */
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
  color: #444;
  border-top: 10px solid #1098ad;
}

.wrapper {
  width: 700px;
  margin: 0 auto;
}

/* * combining selectors */
h1,
h2,
h3 {
  color: #1098ad;
}

h1 {
  font-size: 26px;
  font-style: italic;
  text-transform: uppercase;
}

h2 {
  margin-bottom: 30px;
  font-size: 40px;
}

h3 {
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 30px;
}

h4 {
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
}

p {
  margin-bottom: 15px;
  font-size: 22px;

  /* * default line height: 1 */
  line-height: 1.5;
}

ol,
ul {
  margin-bottom: 20px;
  margin-left: 50px;
}

li {
  margin-bottom: 10px;
  font-size: 20px;
}

li:last-child {
  margin-bottom: 0;
}

article {
  margin-bottom: 60px;
}

.post-header {
  margin-bottom: 40px;
}

/*
footer p {
  font-size: 16px;
} */

/*
article header p {
  font-style: italic;
} */

/* * id selector - each id can used once */
#author {
  font-size: 18px;
  font-style: italic;
}

#copyright {
  font-size: 16px;
}

/* * class selector */
.related-author {
  font-size: 18px;
  font-weight: 600;
}

.related {
  list-style: none;
}

.main-header {
  height: 80px;

  /* padding: 20px; */
  padding: 20px 40px;
  margin-bottom: 60px;
  background-color: #f7f7f7;
}

.post-img {
  width: 100%;
  height: auto;
}

aside {
  width: 500px;
  padding: 50px 0;
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
}

/* * pseudo-classes */

/* * :first-child - FIRST child of an element */

/*
li:first-child {
  font-weight: 700;
}

li:last-child {
  font-style: italic;
}
*/

/* * nth-child(2 | 2n | odd | even) */

/*
li:nth-child(2) {
  text-decoration: underline;
}
*/

/* * descendant selector */

/*
article p:first-child {
  color: red;
} */

/* * styling links - LVHA */
a:link,
a:visited {
  color: #1098ad;
  text-decoration: none;
}

a:hover {
  font-weight: 600;
  color: #7fffd4;

  /* text-decoration: underline dotted #7fffd4; */

  /* text-decoration: underline wavy #7fffd4; */
}

a:active {
  font-style: italic;
}

/* * resolving confilcts between selectors */

/*
#copyright {
  color: red;
}

.copyright {
  color: blue;
}

.text {
  color: yellow;
}

footer p {
  color: green;
}
 */
