/* stylelint-disable selector-class-pattern */

/*

--- Typography system
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 (px)

--- Font weights
400
500
600
700

--- Line heights
1
1.05
1.6

--- Colors system
-- Primary:
#e67e22

-- Tints:
#fdf2e9

-- Shades:
#cf711f

-- Accents:

-- Greys:
#555
#333

-- Other
#fff

--- Shadows

--- Border-radius
9px

--- Spacing system
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 (px)

*/

/* -- General styles */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  /*
  font-size: 10px
  10px / 16px = 0.625 = 62.5%
  Percentage of user`s browser font-size setting */
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  line-height: 1;
  color: #555;
}

/* -- Reusable */

.wrapper {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

/* -- Grid variations */

.grid {
  display: grid;
  gap: 9.6rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

/* -- Headings */

.title-h1,
.title-h2,
.title-h3 {
  font-weight: 700;
  color: #333;
  letter-spacing: -0.5px;
}

.title-h1 {
  margin-bottom: 3.2rem;
  font-size: 5.2rem;
  line-height: 1.05;
}

.title-h2 {
  margin-bottom: 9.6rem;
  font-size: 4.4rem;
  line-height: 1.2;
}

.title-h3 {
}

.title-sub {
  display: block;
  margin-bottom: 1.6rem;
  font-size: 1.6rem;
  font-weight: 500;
  color: #cf711f;
  text-transform: uppercase;
  letter-spacing: -0.75px;
}

/* -- Buttons */

.btn:link,
.btn:visited {
  display: inline-block;
  padding: 1.6rem 3.2rem;
  font-size: 2rem;
  font-weight: 600;
  text-decoration: none;
  border-radius: 9px;

  /* Put transition on original state (initial element phase) */
  transition: background-color 0.3s, box-shadow 0.3s;
}

.btn--full:link,
.btn--full:visited {
  color: #fff;
  background-color: #e67e22;
}

.btn--full:hover,
.btn--full:active {
  background-color: #cf711f;
}

.btn--outline:link,
.btn--outline:visited {
  color: #555;
  background-color: #fff;
}

.btn--outline:hover,
.btn--outline:active {
  background-color: #fdf2e9;

  /* Trick to add border inside */
  box-shadow: inset 0 0 0 3px #fff;
}

/* -- Header */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  /* Define height manually, for make header sticky in future */
  height: 9.6rem;
  padding: 0 4.8rem;
  background-color: #fdf2e9;
}

.logo {
  height: 2.2rem;
}

/* -- Navigation */

.main-nav-list {
  display: flex;
  gap: 3.2rem;
  align-items: center;
  list-style: none;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 500;
  color: #333;
  text-decoration: none;
  transition: color 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  color: #fff;
  background-color: #e67e22;
  border-radius: 9px;
  transition: background-color 0.3s;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #cf711f;
}

/* -- Section Hero  */

.section-hero {
  padding: 4.8rem 0 9.6rem;
  background-color: #fdf2e9;
}

.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 9.6rem;
  align-items: center;
  max-width: 130rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.hero-description {
  margin-bottom: 4.8rem;
  font-size: 2rem;
  line-height: 1.6;
}

.hero-img {
  width: 100%;
}

.delivered-meals {
  display: flex;
  gap: 1.6rem;
  align-items: center;
}

.delivered-imgs {
  display: flex;
}

.delivered-imgs img {
  width: 4.8rem;
  height: 4.8rem;
  margin-right: -1.6rem;
  border: 3px solid #fdf2e9;
  border-radius: 50%;
}

.delivered-imgs img:last-child {
  margin-right: 0;
}

.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}

.delivered-text span {
  font-weight: 700;
  color: #cf711f;
}

/* -- Section How it Works */

.section-how {
  padding: 9.6rem 0;
}

.step-text-box {
}

.step-number {
}

.step-description {
}

.step-img-box {
}

.step-img {
  width: 50%;
}

/* -- Helpers */

.margin-right-sm {
  margin-right: 1.6rem !important;
}

.margin-top-big {
  margin-top: 8rem !important;
}
